body{
	background-color: #2F2933;
	font-family: 'Noto Sans', sans-serif;
}

#logo{
	font-family:'Poiret One', cursive;
	position: center;
	margin-left: 3.75em;
	font-size: 6em;
	color: #29D9C2;
	margin-bottom: -0.5em;
	padding-bottom: 0em;
}

#goBack{
	width: 10em;
	margin-left: -11em;
}

#mainBoxInner{
	border: solid black 3px;
	background-color: #FFFFFF;
	padding-left: 1em;
}

#deleteExpense{
	background-color: #E81919;
	color: #FFFFFF;
}
#leaveButton{
	background-color: #E81919;
	color: #FFFFFF;
	margin-top: 1em;
	margin-left: -1em;

}

#mainBoxOuter{
	margin-top: 5em;
	background-color: #74F271;
	margin-bottom: 2em;
	border: solid #000000 3px;
	padding: 1em;
	margin-right: 1em;
	margin-left: 3em;
}
#bodyContent{
	border: solid #29D9C2 2px;
	margin-top: 0em;
	padding-bottom: 0em;
}

#bodyContent2{
	border: solid #29D9C2 2px;
	padding-bottom: 0em;
	margin-top: 0em;
}

#report{
	margin-right: 2em;
}

#infoBox{
	margin-top: 7em;
	background-color: #FFFFFF;
	margin-bottom: 7em;
	border: solid #74F271 5px;
	padding-bottom: 3em;
}
#reportBox{
	text-align: center;
	margin-top: 5em;
	background-color: #FFFFFF;
	margin-bottom: 2em;
	border: solid #74F271 5px;
	padding-bottom: 3em;
}

.historyButton{
	margin-left: -1em;
}

footer{
	text-align: center;
	color: #FFFFFF;
}
nav{
	border: solid black 5px;
}
#signOut{
	margin-left: 70em;
	margin-top: -5em;
}
table{
	padding: 5px;
}
th, td {
    padding: 7px;
    text-align: left;
}

.modal{
	margin-left: 25em;
}

.confirmPayment{
	display: center;
}

.amountPaid{
	width: 10em;
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #00727c;
	
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#c6c6c6; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #00727c;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #2f2933 5%, #4f395e 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2f2933), color-stop(1, #4f395e) );
	background:-moz-linear-gradient( center top, #2f2933 5%, #4f395e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f2933", endColorstr="#4f395e");	background: -o-linear-gradient(top,#2f2933,4f395e);

	background-color:#2f2933;
	border:0px solid #00727c;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #2f2933 5%, #4f395e 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2f2933), color-stop(1, #4f395e) );
	background:-moz-linear-gradient( center top, #2f2933 5%, #4f395e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f2933", endColorstr="#4f395e");	background: -o-linear-gradient(top,#2f2933,4f395e);

	background-color:#2f2933;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}