{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>ExpenShare Login</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
	</head>

	<body>
		<div cloass="container-fluid">
			
			<div class="row">
	            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		            <div class="container-fluid">
		              <div class="row-fluid">
		                <div class="col-md-10">
		                  <a class="navbar-brand" href="/share/home"> Expenshare</a>
		                  <ul class="nav navbar-nav">
		                  	<li><a href="">Help</a></li>
		                  	<li><a href="/share/logout"> Logout </a></li>
		                  </ul>
		                </div>
		            </div>
	          	</nav>
			</div>
			<div class="container" id="bodyContainer">
				<div class="row">
					<div class="col-md-1"> </div>
					<div class="container-fluid" id="bodyContent">
						<div class="row-fluid">
							<div class="col-md-8" id="mainBoxOuter">
								<div id="mainBoxInner">
									<!--Temporary content -->
									<h1>{{ user.username }}</h1>
									<body>
									<!--
									{% if paygroups %}
									        <ul>
										    {% for paygroup in paygroups %}
										    <li>{{ paygroup.name }}</li>
										    {% endfor %}
										</ul>
									{% endif %}
									-->
									</body>
									<hr>
									{% for paygroup in paygroups %}
									
									<div class="row">
										<div class="col-md-8">
											<h3>{{ paygroup.name }}</h3>
											<h5>Current Balance: $ </h5>
											<div class="row" id="buttons">
											<button type="button" id="report" class="btn btn-default" data-toggle="modal" data-target="#myModal">
											Report Expense</button>
											<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											  <div class="container" id="bodyContainer">
												<div class="row">
													<div class="col-md-1"> </div>
													<div class="container" id="bodyContent">
														<div class="row">
															<div class="col-md-2"></div>
															<div class="col-md-8" id="infoBox">
																<h2>Report a Transaction</h2>
																<fieldset>
																	<form id="PayForm" method="post" action="/share/add_payform/">
																	{% csrf_token %}
																	{{ PayForm.as_p }}											
																	<input type="hidden" name="group" value="{{ paygroup.name }}">
																	<input type="submit" name="Pay" value="Pay"/> 
																</form>
																</fieldset>
															</div>
															<div class="col-md-1"> </div>
															<div class="col-md-1"></div>
														</div>
													</div>
													<div class="col-md-1"></div>
												</div>	
												</div>
											</div>	
											<div class="col-md-3">
											<form id="LeaveGroupForm" method="post" action="/share/leavegroup/">
												{% csrf_token %}
												<input type="hidden" name="group" value="{{ paygroup.name }}">
												<input type="submit" id="leaveButton" class="btn btn-default" name="Leave" value="Leave Group">
											</form>		
											</div>

											<div class="col-md-3">
											<form id="goToHistory" method="post" action="/share/history/">
												{% csrf_token %}
												<input type="hidden" name="group" value="{{ paygroup.name }}">
												<input type="submit" class="btn btn-default" name="historyButton" value="Payment Logs">
 											</form>	
 											</div>
 											
 												
										
										</div>
										</div>
		
										<div class='col-md-4'>
											<h4>Group Members</h4>
											<ul>
											  {% for member in paygroup.members.all %}
												<li>{{ member }}</li>
											  {% endfor %}
											</ul>	
										</div>
									</div>
									
									{% endfor %}
									<hr>
									</hr>
									
								</div>
							</div>
							<div class="col-md-3" id="infoBox">
								<h3>Join Existing Group</h3>
								  	<!-- Large modal -->
									<button type="button" id="find_group" class="btn btn-default" data-toggle="modal" data-target="#myModal3">Find a Group</button>
											<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											  <div class="container" id="bodyContainer">
												<div class="row">
													<div class="col-md-1"> </div>
													<div class="container" id="bodyContent">
														<div class="row">
															<div class="col-md-2"></div>
															<div class="col-md-8" id="infoBox">
																<h2>Find a Group</h2>
																<fieldset>
																<form id="JoinGroupForm" method="post" action="/share/joingroup_form/">
																	{% csrf_token %}
																	
																	<label for="group">Group Name</label>
												    				<input type="text" class="form-control" name="group" placeholder="Group Name"/>

												    				<label for="passcode">Group Passcode</label>
												    				<input type="text" class="form-control" name="passcode" placeholder="Passcode"/>														

																	<input type="submit" name="Join" value="Join"/> 
																</form>
																</fieldset>
																
															</div>
															<div class="col-md-1"> </div>
															<div class="col-md-1"></div>
														</div>
													</div>
													<div class="col-md-1"></div>
												</div>	
											</div>
											</div>
								<h3>Create New Group</h3>
								  	<!-- Large modal -->
								  	<button type="button" id="create_group" class="btn btn-default" data-toggle="modal" data-target="#myModal2">Make a Group</button>
											<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											  <div class="container" id="bodyContainer">
												<div class="row">
													<div class="col-md-1"> </div>
													<div class="container" id="bodyContent">
														<div class="row">
															<div class="col-md-2"></div>
															<div class="col-md-8" id="infoBox">
																<h2>Create a Group</h2>
																<fieldset>
																<form id="MakeGroupForm" method="post" action="/share/add_groupform/">
																	{% csrf_token %}
																	
																	{{ MakeGroupForm.as_p }}													

																	<input type="submit" name="Create" value="Create"/> 
																</form>
																</fieldset>
																
															</div>
															<div class="col-md-1"> </div>
															<div class="col-md-1"></div>
														</div>
													</div>
													<div class="col-md-1"></div>
												</div>	
											</div>
											</div>
	
								  	<!-- Large modal -->
					

							</div> 
						
							
							<div class="col-md-1"></div>
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>	
			</div>
			<footer>
				<p> &copy Taylor Andrews, Ian Char, and Brennan McConnell 2014 </p>
			</footer>
		</div>
	</body>
</html>
