{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>ExpenShare Login</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
	</head>

	<body>
		<div cloass="container-fluid">
			
			<div class="row">
	            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		            <div class="container-fluid">
		              <div class="row-fluid">
		                <div class="col-md-10">
		                  <a class="navbar-brand" href="/share/home"> Expenshare</a>
		                  <ul class="nav navbar-nav">
		                  	<li><a href="/share/logout"> Logout </a></li>
		                  </ul>
		                </div>
		            </div>
	          	</nav>
			</div>
			<div class="container" id="bodyContainer">
				<div class="row">
					<div class="col-md-1"> </div>
					<div class="container-fluid" id="bodyContent">
						<div class="row-fluid">
							<div class="col-md-8" id="mainBoxOuter">
								<div id="mainBoxInner">
									<!--Temporary content -->
									<h1>Welcome {{ user.username }}</h1>
									{% if history_error1 %}
									<h4><font color="red">This group no longer exists!</font></h4>					
									{% endif %}
									{% if history_error2 %}
									<h4><font color="red">You are no longer part of this group!</font></h4>					
									{% endif %}
									{% if payform_error2 %}
									<h4><font color="red">This group no longer exists!</font></h4>					
									{% endif %}
									{% if payform_error3 %}
									<h4><font color="red">You are no longer part of this group!</font></h4>
									{% endif %}
									{% if joingroup_error1 %}
									<h4><font color="red">Incorrect groupname or passcode</font></h4>
									{% endif %}
					
									{% if joingroup_error2 %}
									<h4><font color="red">Unfortunately that group does not exist!</font></h4>
									{% endif %}
									
									{% if creategroup_error1 %}
									<h4><font color="red">Oh no! An error occured with creating that group!</font></h4>
                                                                        {% endif %}
									{% if not paygroups %}
										<h3> Start sharing expenses by making or joining a group! </h3>
									{% else %}
									{% if deleted_group %}
									<h4><font color="red">You just deleted a group</font><h4>
									{% endif %}
									<br>
									<h4>Balance across all groups: </h4>
									<body>
									<!--
									{% if paygroups %}
									        <ul>
										    {% for paygroup in paygroups %}
										    <li>{{ paygroup.name }}</li>
										    {% endfor %}
										</ul>
									{% endif %}
									-->
									</body>
									<hr>
									{% for paygroup in paygroups %}
									
									<div class="row">
										<div class="col-md-8">
											<h3>{{ paygroup.name }} - <em style="font-size: 65%">{{ paygroup.description }}</em></h3>
											{% for memV in paygroup.memberViews.all %}
												{% if memV.user == user %}
													{% if memV.netOwed <= 0 %}
														<style> #netOwed{{ paygroup.id }}ID{color:#008798; display:inline;}</style>
													{% else %}
														<style> #netOwed{{ paygroup.id }}ID{color:red; display:inline;}</style>
													{% endif %}
													<h5 display="inline">Net Owed: $ <p id="netOwed{{ paygroup.id }}ID">{{ memV.netOwed }}</p></h5>
												{% endif %}
											{% endfor %}
											<div class="row" id="buttons">
											<button type="button" id="report" class="btn btn-default" data-toggle="modal" data-target="#{{ paygroup.id }}ID">
											Report Expense</button>
											<div class="modal fade" id="{{ paygroup.id }}ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											  <div class="container" id="bodyContainer">
												<div class="row">
													<div class="col-md-1"> </div>
													<div class="container" id="bodyContent">
														<div class="row">
															<div class="col-md-2"></div>
															<div class="col-md-8" id="infoBox">
																<h2>Report a Transaction</h2>
																<fieldset>
																<form id="PayForm" method="post" action="/share/add_payform/">
																	{% csrf_token %}
																	{{ PayForm.as_p }}
																	<input type="hidden" name="group" value="{{ paygroup.name }}">
																	<div class="col-md-4">
																	<button type="submit" name="Pay" value="submit" class="btn btn-default btn-lg btn-block">Submit Transaction</button> </div>
																</form>
																</fieldset>
															</div>
															<div class="col-md-1"> </div>
															<div class="col-md-1"></div>
														</div>
													</div>
													<div class="col-md-1"></div>
												</div>	
												</div>
											</div>	
											<div class="col-md-3">
											<form id="LeaveGroupForm" method="post" action="/share/leavegroup/">
												{% csrf_token %}

												<input type="hidden" name="group" value="{{ paygroup.name }}">
												<input type="submit" id="leaveButton" class="btn btn-default" name="Leave" value="Leave Group">
											</form>		
											</div>

											<div class="col-md-3">
											<form id="goToHistory" method="post" action="/share/history/">
												{% csrf_token %}
												<input type="hidden" name="group" value="{{ paygroup.name }}">
												<input type="submit" class="btn btn-default" name="historyButton" value="Expense History">
 											</form>	
 											</div>
 											
 												
										
										</div>
										</div>
		
										<div class='col-md-4'>
											<h4>Group Members</h4>
											<ul>
											  {% for memV in paygroup.memberViews.all %}
												{% if memV.user == user %}
													{% for fellow in memV.fellows.all %}
														{% if fellow.owed <= 0 %}
														<style> #owed{{ fellow.id }}ID{color:#008798; display:inline;}</style>
														{% else %}
															<style> #owed{{ fellow.id }}ID{color:red; display:inline;}</style>
														{% endif %}
														<li> {{ fellow }}: $ <p id="owed{{ fellow.id }}ID">{{ fellow.owed }}</p></li>
													{% endfor %}
												{% endif %}
											  {% endfor %}
											</ul>	
										</div>
									</div>
									<hr>
									{% endfor %}
									
									{% endif %}
								</div>
								
							</div>
							
							<div class="col-md-3" id="infoBox">
								<h3>Join Existing Group</h3>
								  	<!-- Large modal -->
									<button type="button" id="find_group" class="btn btn-default" data-toggle="modal" data-target="#myModal3">Find a Group</button>
											<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											  <div class="container" id="bodyContainer">
												<div class="row">
													<div class="col-md-1"> </div>
													<div class="container" id="bodyContent">
														<div class="row">
															<div class="col-md-2"></div>
															<div class="col-md-8" id="infoBox">
																<h2>Find a Group</h2>
																<fieldset>
																<form id="JoinGroupForm" method="post" action="/share/joingroup_form/">
																	{% csrf_token %}
																	
																	<label for="group">Group Name</label>
												    				<input type="text" class="form-control" name="group" placeholder="Group Name"/>

												    				<label for="passcode">Group Passcode</label>

												    				
												    				<input type="password" class="form-control" name="passcode" placeholder="Passcode"/>						
												    				<br>	
												    				<div class="col-md-4">
																	<button type="submit" name="Join" value="Join" class="btn btn-default btn-lg btn-block">Join</button> </div>
																	 
																</form>
																</fieldset>
																
															</div>
															<div class="col-md-1"> </div>
															<div class="col-md-1"></div>
														</div>
													</div>
													<div class="col-md-1"></div>
												</div>	
											</div>
											</div>
								<h3>Create New Group</h3>
								  	<!-- Large modal -->
								  	<button type="button" id="create_group" class="btn btn-default" data-toggle="modal" data-target="#myModal2">Make a Group</button>
											<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											  <div class="container" id="bodyContainer">
												<div class="row">
													<div class="col-md-1"> </div>
													<div class="container" id="bodyContent">
														<div class="row">
															<div class="col-md-2"></div>
															<div class="col-md-8" id="infoBox">
																<h2>Create a Group</h2>
																<fieldset>
																<form id="MakeGroupForm" method="post" action="/share/add_groupform/">
																	{% csrf_token %}
																	
																	{{ MakeGroupForm.as_p }}													
																	<div class="col-md-4">
																	<button type="submit" name="Create" value="Create" class="btn btn-default btn-lg btn-block">Create</button> </div>
																	
																</form>
																</fieldset>
																
															</div>
															<div class="col-md-1"> </div>
															<div class="col-md-1"></div>
														</div>
													</div>
													<div class="col-md-1"></div>
												</div>	
											</div>
											</div>
	
								  	<!-- Large modal -->
					

							</div> 
						
							
							<div class="col-md-1"></div>
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>	
			</div>
			<footer>
				<p> &copy Taylor Andrews, Ian Char, and Brennan McConnell 2014 </p>
			</footer>
		</div>
	</body>
</html>
