{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>ExpenShare Login</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
	    <link href='http://fonts.googleapis.com/css?family=Noto+Sans|Shadows+Into+Light|Titillium+Web|Nunito:400,700|Architects+Daughter|Changa+One' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="container-fluid">
			<div class="container" id="bodyContainer">
				<div class="row">
					<div class="col-md-1"> </div>
					<div class="container" id="bodyContent2">
						<h1 id="logo"> Expenshare </h1>
						<div class="row">
							<div class="col-md-1"></div>
							<div class="col-md-4" id="infoBox">
								<h2>Welcome to ExpenShare</h2>
								{% if login_error1 %}
								<h4><font color="red">The username or password was incorrect, please try again!</font></h4>
								{% elif login_error2 %}
								<h4>Sorry, that account has been disabled!</h4>
								{% else %}
								<h4>Log in or sign up to get started!</h4>
								{% endif %}
								<form id="login_form" method="post" action="/share/login/">
								  {% csrf_token %}
								  Username: <input type="text" name="username" value="" size="20em"/>
								  <br>
								  Password: <input type="password" name="password" value="" size="20em"/>
								  <br>
								  <br>
								  <div class="row">
								  <div class="col-md-6">
								  	<button type="submit" value="submit" class="btn btn-default btn-lg btn-block">Submit</button>
								  </div>
								  
								</form>
								
								  <div class="col-md-6">
								  <form><input type="button" class="btn btn-default btn-lg btn-block" value="Sign Up" onClick="window.location.href='/share/register/'"></form>
								 
								  
								  	
								  </div>
								</div>
							</div>
							<div class="col-md-1"> </div>
							<div class="col-md-5" id="infoBox">
								<h3> What is ExpenShare? </h3>
								<p> ExpenShare is an online application designed to help people split costs and share expenses. You can now create one or more group(s) with your friends and log your transactions, then let ExpenShare do the work and calculate how much each group member owes each other. This application can be used for roommates to split living expenses, friends to split travel costs, or any other necessary use! </p>
							</div>
							<div class="col-md-1"></div>
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>	
			</div>
			<footer>
				<p> &copy Taylor Andrews, Ian Char, and Brennan McConnell 2014 </p>
			</footer>
		</div>
	</body>
</html>
