{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>ExpenShare Login</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
	</head>

	<body>
		<div class="container-fluid">
			
			<div class="row">
	            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		            <div class="container-fluid">
		              <div class="row-fluid">
		                <div class="col-md-10">
		                  <a class="navbar-brand" id="navName" href="/share/"> Expenshare</a>
			                 <ul class="nav navbar-nav">
			                  	<!--Put links to different parts of the site here-->
			                 </ul>
		                </div>
		            </div>
	          	</nav>
			</div>
			<div class="container" id="bodyContainer">
				<div class="row">
					<div class="col-md-1"> </div>
					<div class="container" id="bodyContent">
						<div class="row">
							<div class="col-md-1"></div>
							<div class="col-md-4" id="infoBox">
								<h2>Welcome to ExpenShare</h2>
								<h4>Log in or sign up to get started!</h4>
								<form id="login_form" method="post" action="/share/login/">
								  {% csrf_token %}
								  Username: <input type="text" name="username" value="" size="20em"/>
								  <br>
								  Password: <input type="text" name="password" value="" size="20em"/>
								  <br>
								  <input type="submit" value="submit"/>
								</form>
								<div class="row">
								  <div class="col-md-6">
								  	<button type="button" class="btn btn-default btn-lg btn-block"><a href="/share/register/">Sign Up</a></button>
								  </div>
								</div>
							</div>
							<div class="col-md-1"> </div>
							<div class="col-md-5" id="infoBox">
								<h3> What is ExpenShare? </h3>
								<p> ExpenShare is an online application designed to help people split costs and share expenses. You can now create one or more group(s) with your friends and log your transactions, then let ExpenShare do the work and calculate how much each group member owes each other. This application can be used for roommates to split living expenses, friends to split travel costs, or any other necessary use! </p>
							</div>
							<div class="col-md-1"></div>
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>	
			</div>
			<footer>
				<p> &copy Taylor Andrews, Ian Char, and Brennan McConnell 2014 </p>
			</footer>
		</div>
	</body>
</html>